@import '~antd/lib/style/themes/default.less';
@import '../../utils/utils.less';

.uouContent{
  margin-top: 30px;
  list-style: none;
  padding: 0;
  &>li{
    overflow: hidden;
  }
  .uouListH{
    height: 36px;
    line-height: 36px;
    text-align: center;
    .listBor{
      border: 1px solid #ccc;
    }
  }
}
.goodContent{
  border: 1px solid #e5e5e5;
  .goodImg{
    width: 100px;
    height: 100px;
    border: 1px solid red;
  }
  .goodText{

  }
}


.addRulesModal{
  height: 36px;
  line-height: 36px;
  margin-bottom: 10px;
}

.onlineGoods{
  height: 50px;
  line-height: 60px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  .goods{
    height: 36px;
    line-height: 36px;
  }
}

.goodsList{
  margin-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
  img{
    display: block;
    width:80px;
    height: 80px;
    border: 1px solid red;
    margin-bottom: 10px;
  }
}
